<!DOCTYPE html>
<html>

<head>
  <title>Emendation Password</title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/account/adapter-style.css" />
  <link rel="stylesheet" href="/stylesheets/universal/universal-1.css" />
</head>

<body>
  <div class="emendation-password-container">

    <div class="addr-total">
      <div class="address-url">
        <span><a href="/links-router">Links route</a></span>
      </div>
      <div class="address-url">
        <span><a href="/">Homepage</a></span>
      </div>
      <div class="address-url">
        <span><a href="/account-renewal-email">Change email</a></span>
      </div>
      <div class="address-url">
        <span> <a id="current-user-name"></a> </span>
      </div>
    </div>


    <div class="container">
      <form id="revise-password-form" class="parameter-form">
        <h2>Amend Your Password</h2>
        <label for="previous_password">Previous Password</label>
        <input type="password" name="previous_password" id="previous_password" placeholder="Enter your origin password"
          required />
        <br />
        <label for="new_password">New Password</label>
        <input type="password" name="new_password" id="new_password" placeholder="Enter your new password" required />
        <br />
        <label for="repeat_new_password">Repeat New Password</label>
        <input type="password" name="repeat_new_password" id="repeat_new_password"
          placeholder="Enter your new password again" required onkeypress="handleKeyPress(event)" />
        <button type="button" id="revise-password-btn">Confirm</button>
      </form>

    </div>
  </div>
</body>

</html>

<script src="/javascripts/account/ModifyPassWord.js"></script>