<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Route Links</title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/universal/universal-0.css" />
  <link rel="stylesheet" href="/stylesheets/universal/universal-2.css" />
</head>

<body>
  <div class="container-tag-div">

    <div class="addr-total">
      <div class="address-url">
        <span><a id="current-user-name-tag"></a></span>
      </div>
    </div>

    <div class="links-div">
      <ol class="link-list">
        <li><a href="/account-amend-password">Corrective keyword</a></li>
        <li><a href="/account-renewal-email">Replace email</a></li>
        <li><a href="/journals">Articles list</a></li>
        <li><a href="/">Homepage</a></li>
      </ol>
    </div>
  </div>
</body>

</html>
<script src="/javascripts/universal/link-route.js"></script>
<script src="/javascripts/universal/exhibition-username.js"></script>